@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.main-content {
  background-color: #141414;
}

.big-mask img {
  max-width: 100%;
}


.big-mask {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 3.5s;
	-webkit-animation-duration: 3.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(5%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/* the slides */
.carousel-image {
  margin: 0 10px;
  border-radius: 2em;
}
/* the parent */
.slick-carousel {
  margin: 0 -10px;
}

.carousel {
  background-color: #0f0f0f;
  padding: 20px;
}

.navbar-custom {
  border-bottom: 1px solid white;
  min-height: 75px;
  background-color: #0f0f0f;
  margin-bottom: 20px;
}

.navbar-brand-custom {
  padding: 0 14px;
}

.navbar-inverse .navbar-ryan {
  font-size: 2.4em;
  color: white;
}

.menu-link {
  padding-left: 30px;
  padding-right: 10px;
  margin-top: 20px;
}

.home-page {
  margin-top: 100px;
  margin-bottom: 60px;
}

.header {
  color: white;

  h1 {
    font-size: 4em;
  }
}

.small-bio {
  color: white;

  h1 {
    font-size: 2em;
  }

  hr {
    color: white;
  }
}

.about-section, .contact-section {
  color: white;

  h1 {
    font-size: 2em;
  }

  hr {
    color: white;
  }

  p {
    font-size: 1.5em;
  }
}

.contact-form {
  input, textarea {
    color: white;
    resize: none;
    height: 50px;
    border: 1px solid #8e8989;
    background-color: #353535;
  }

  textarea {
    height: 200px;
  }
}

.mask-button a {
  background-color: #353535;
  color: white;
  border: 1px solid #8e8989;
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* Social buttons */

.social {
  position: fixed;
  top: 100px;
  z-index: 200;
}


.social ul {
  padding: 0px;
  -webkit-transform: translate(-260px, 0);
  -moz-transform: translate(-260px, 0);
  -ms-transform: translate(-260px, 0);
  -o-transform: translate(-260px, 0);
  transform: translate(-260px, 0);
}

.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

a {
  color: #fff;
  text-decoration: none;
}
